
<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-info">
        Username: admin@test.com<br />
        Password: 111111
    </div>
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <button md-button md-no-ink class="md-primary">Primary (md-noink)</button>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>

<md-content>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <button md-button>{{title1}}</button>
    <button md-button md-no-ink class="md-primary">Primary (md-noink)</button>
    <button md-button disabled="true" class="md-primary">Disabled</button>
    <button md-button class="md-warn">{{title4}}</button>
    <div class="label">Flat</div>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <button md-raised-button class="md-raised">Button</button>
    <button md-raised-button class="md-raised md-primary">Primary</button>
    <button md-raised-button disabled="true" class="md-raised md-primary">Disabled</button>
    <button md-raised-button class="md-raised md-warn">Warn</button>
    <div class="label">Raised</div>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <button md-fab class="md-fab" aria-label="Eat cake">
      <i md-icon>cake</i>
    </button>
    <button md-fab class="md-primary" aria-label="Use Android">
      <i md-icon>android</i>
    </button>
    <button md-fab disabled="true" aria-label="Comment">
      <i md-icon>comment</i>
    </button>
    <button md-fab class="md-primary md-hue-2" aria-label="Profile">
      <i md-icon>people</i>
    </button>
    <button md-fab class="md-mini" aria-label="Eat cake">
      <i md-icon>cake</i>
    </button>
    <button md-fab class="md-mini md-primary" aria-label="Use Android">
      <i md-icon>android</i>
    </button>
    <div class="label">FAB</div>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <a md-button [href]="googleUrl" target="_blank">Default Link</a>
    <a md-button class="md-primary" [href]="googleUrl" target="_blank">Primary Link</a>
    <button md-button>Default Button</button>
    <div class="label">Link vs. Button</div>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <button md-button class="md-primary md-hue-1">Primary Hue 1</button>
    <button md-raised-button class="md-warn md-hue-2">Warn Hue 2</button>
    <button md-button class="md-accent">Accent</button>
    <button md-raised-button class="md-accent md-hue-1">Accent Hue 1</button>
    <div class="label">Themed</div>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <button md-button class="md-icon-button md-primary" aria-label="Settings">
      <i md-icon>menu</i>
    </button>
    <button md-button class="md-icon-button md-accent" aria-label="Favorite">
      <i md-icon>favorite</i>
    </button>
    <button md-button class="md-icon-button" aria-label="More">
      <i md-icon>more_vert</i>
    </button>
    <a md-button href="http://google.com"
       title="Launch Google.com in new window"
       target="_blank"
       disabled="true"
       aria-label="Google.com"
       class="md-icon-button launch">
      <i md-icon>launch</i>
    </a>
    <div class="label">Icon Button</div>
  </section>
</md-content>